.small-box {
  height: 250px !important;
}
.section-header {
  color: rgb(114, 190, 100);
  line-height: 3rem;
}
.image-point {
  padding: 0 !important;
}
.headshot-image {
  width: 100%;
  border-radius: 50%;
  opacity: 0.7;
}
.post-container > h2,
.post-container > p {
  text-align: center;
}
.green-container > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.post-container:nth-of-type(1) {
  grid-column: 1/-1;
}
