/*=====================PAGE SET UP=======================*/
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "Mukta", "Liberation Sans", verdana, arial, helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: white;
}

/*=====================NAVIGATION HEADER=======================*/
nav {
  height: 500px;
  background: linear-gradient(to top, #6fe76f, #1a3309);
  position: relative;
  min-height: 33rem;
}
/*NAVIGATION MENU*/
#nav-menu-wrapper {
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	max-width: 70rem;
	margin: auto;
}
#logo-container {
  background: url(images/redesign-logo-text1.svg) no-repeat;
  height: 100%;
  width: 100%;
  background-size: contain;
}
#nav-main-menu {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
#nav-main-menu > li > a:hover {
  color: #86be38;
}
/*DOWNLOAD MENU BUTTON*/
#nav-main-menu > li:nth-of-type(2) {
  background: #72be64;
  padding: 5px 10px;
  border-radius: 5px;
}
#nav-main-menu > li:nth-of-type(2):hover {
  background: #58994c;
}
#nav-main-menu > li:nth-of-type(2) > a:hover {
  color: white;
}
/*HAMBURGER MENU BUTTON*/
.menu-button{
align-self: center;
display: none;
}
.menu-icon{
	width: 30px;
	border: solid white 2px;
	padding: 4px;
	border-radius: 4px;
	opacity: 0.9;
}
/*HEAD BOX*/
#header-container {
  position: relative;
  display: flex;
  height: 75%;
  align-items: center;
  justify-content: space-between;
  max-width: 70rem;
  margin: auto;
}
/*HEADER BOX*/
#page-header {
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
#page-header > a {
  margin: 1em 0 0 2em;
}
#page-header > h1 {
  font-size: 3em;
  font-weight: 600;
}
#page-header > h5 {
  margin-bottom: 2em;
}
#page-header > p {
  color: #ffffffb3;
  max-width: 75%;
}
/*LEAFS BACKGROUND*/
#leafs-decoration {
  background: url(images/leafs-border.svg) no-repeat;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: contain;
  background-position-x: left;
  background-position-y: bottom;
}
/*RIGHT SIDE MEDIA*/
#media {
  width: 400px;
  height: 250px;
  background: #4a3e3e;
}
#desktops-image {
  width: 25%;
  opacity: 0.5;
}
#manual-image {
  width: 40%;
}
#world-image {
  width: 50%;
}
/*=====================FOOTER=======================*/
footer {
	color: #72be64;
	font-size: 0.7em;
	display: flex;
	padding: 2em;
	align-content: center;
	align-items: center;
	justify-content: space-evenly;
	line-height: 2em;
	max-width: 1200px;
	margin: auto;
}
.footer-container{
  width: 100%;
  background: black;
}
footer > div {
  padding: 1em;
  border-left: solid #fff3 1px;
  max-width:70%;
}
.social-icon {
  width: 1.5em;
  margin: 0.5em;
}
#social-container > p {
  font-size: 1.5em;
  margin-bottom: 1em;
  text-align: center;
  color: white;
}
#footer-logo {
  width: 5rem;
  height: 5rem;
  background: url(images/redesign-logo1.svg) no-repeat;
  padding: 0;
  background-size: contain;
  background-position: center;
  border: none;
}
/*=====================BUTTONS=======================*/
/*clear buttons with white border for green backgrounds*/
.clear-button {
  border: solid #fff6 1px;
  padding: 5px;
  border-radius: 5px;
  background: none;
  color: white;
}
.clear-button:hover {
  background: #ffffff1a;
}
/*green regular buttons*/
.green-button {
  color: white;
  border-radius: 5px;
  background: #72be64;
  margin: 1em;
  padding: 7px 15px;
  font-size: 1em;
  border: none;
}
/*clear buttons on green for white backgrounds*/
.clear-green-button {
  color: #214a21;
  border: solid #214a2166 1px;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0.5em;
}
/*classes for buttons sizes*/
.big-button {
  margin: 1em;
  padding: 10px;
  font-size: 1em;
}
.small-button {
  margin: 1em;
}
.download-icon {
  height: 15px;
  margin-right: 1em;
}
/*=====================SECTION CONTAINERS=======================*/
/*white containers*/
.white-container {
	max-width: 70rem;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	margin: 50px auto;
}
.white-header {
  grid-column: 1/-1;
  padding: 1rem;
}
.white-header > h1 {
  color: #72be64;
  line-height: 3rem;
}
.white-header > h3 {
  color: #214a21;
}
.white-header > p{
  color: #214a21;
  padding-bottom: 1em;
  text-align: center;
}


/*green containers*/
.green-container {
  background: #3c9b61;
  color: #fffc;
  padding: 2rem;
  text-align: center;
}
.green-container > h1 {
  text-align: center;
  border-bottom: solid #fff6 1px;
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
}
.green-container > div {
	max-width: 85rem;
	margin: auto;
}
.green-container > a {
	width: 250px;
	display: inherit;
	text-align: center;
	margin: 1em auto;
	font-size: 2em;
	border-radius: 10px;
	background: #fffc;
	color: #214a21;
}
.green-container > p {
	text-align: center;
	margin-bottom: 2em;
}

/*post-containers*/
.post-container {
	padding: 1em;
	background: #ffffff1a;
	margin: 0.5em;
	color: #214a21;
}
.post-container > h6{
  line-height: 0.8em;
}
.post-container > p{
  margin: 2.5em 0;
}
.post-container > a:first-of-type{
  color: #214a21;
}
.post-container > h4 {
	text-align: center;
	margin: 1em;
}


/*logo-container*/
.logo-container{
  max-width: 70rem;
  margin: auto;
  background: url(images/background-logo.svg) no-repeat;
  background-position: center;
  padding-bottom: 3em;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	justify-items: center;
	width: -moz-fit-content;
}
.logo-container >h1{
  text-align: center;
  padding: 1em;
  color: #72be64;
  font-family: "Montserrat", sans-serif;
  grid-column: 1/-1;
}
.clear-box {
	color: #214a21;
	width: 350px;
	margin: 1em;
	padding: 2em 1em;
	border-radius: 2px;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-family: "Roboto", sans-serif;
	border: solid 1px #214a214d;
}
.clear-box > p {
  color: #214a21cc;
}


/*grid container*/
.clear-grid-box {
	max-width: 70rem;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	justify-items: center;
	width: -moz-fit-content;
	padding-bottom: 3em;
}
.clear-grid-box > h1{
	text-align: center;
	padding: 1em;
	color: #72be64;
	font-family: "Montserrat", sans-serif;
	grid-column: 1/-1;
}
/*=====================ABOUT POINT CONTAINERS=======================*/
.about-point {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: start;
	width: 100%;
	max-width: 350px;
	margin: auto;
}
.about-point > div {
  background: #72be64;
  width: 8rem;
  height: 8rem;
  padding: 2rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.about-point > h5 {
  text-transform: uppercase;
  color: #214a21;
  line-height: 2rem;
}

.about-point > div > img {
  width: 100%;
  height: 100%;
}
.about-point > p{
	font-family: "Mukta", "Liberation Sans", verdana, arial, helvetica, sans-serif;
}
table {
  margin: auto;
  border-collapse: collapse;
}
td {
  border-bottom: 1px solid #ffffff4d;
  padding: 1em;
}
th {
	border-bottom: 2px solid #ffffff4d;
	padding: 1em;
	font-size: 1.3em;
}
/*========================SUB MENU HANDLER CLASS ===========================*/
.active {
  display: table-cell !important;
}
.active-menu{
  display: flex !important;
}
/*========================MEDIA QUERIES ===========================*/
@media all and (max-width: 1150px) {
#header-container{
  margin: 0 1em 0 1em;
}
.clear-grid-box {
  grid-template-columns: repeat(2, 1fr) !important;
}
.clear-grid-box > .clear-box:last-child {
  grid-column: 1/-1;
}
.clear-grid-box > .about-point:last-child {
  grid-column: 1/-1;
}
 }

@media all and (max-width: 980px) {
  #world-image, #manual-image, #media, #desktops-image, #support-graph {
    display: none;
  }
  #page-header {
    width: 100%;
    height: auto;
  }
  nav {
    height: 350px;
    min-height: 20rem;
  }
  #nav-main-menu {
    display: none;
    position: absolute;
    flex-direction: column;
    background: #72be64cc;
    height: 60%;
    justify-content: space-evenly;
    z-index: 10;
    left: 0;
    top: 80px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.04);
  }
  #nav-main-menu > li:nth-of-type(2) {
    background: none;
  }
  .menu-button{
    display: block;
    cursor: pointer;
    }
  .green-container > div {
    display: block;
  }
 }
@media all and (max-width: 736px) {
  #page-header > h1 {
    font-size: 2em;
  }
  #page-header > p {
    max-width: 100%;
  }
  footer {
    flex-direction: column;
  }
  footer > div {
    padding: 1em;
    border-left: none;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  #footer-logo {
    display: none;
  }
  .grid-container, .clear-grid-box, .grid-box {
    display: block !important;
  }
 }
@media all and (max-width: 480px) { 
  #paypal-payments {
    display: flex;
    flex-direction: column;
  }

}