#cindy-desktop-box {
  background: #72be64;
  border: none;
  color: white;
}
#cindy-desktop-box > p {
  color: #ffffffb3;
}
/*=========================================*/
#all-versions-table-wrapper {
  background: #3c9b61;
  color: #fffc;
  font-family: "Montserrat";
  padding: 2rem;
}
#all-versions-table-wrapper > h1 {
  text-align: center;
  border-bottom: solid #fff6 1px;
  width: 50%;
  margin: auto;
  margin-bottom: 2em;
}
#links-list {
  margin: auto;
  max-width: 20rem;
}
.links-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  max-width: 400px;
}
.links-box > h2 {
  line-height: 2em;
}
#tara-links,
#sylvia-links,
#sonya-links,
#serena-links,
#sarah-links,
#rosa-links,
#rafaela-links,
#rebecca-links,
#quiana-links,
#cindy-links {
  border: none;
  display: none;
}
