.clear-box > select {
  padding: 0.5em;
  color: rgb(33, 74, 33);
  background: white;
  font-weight: bold;
  border: solid 1px #214a2166;
  border-radius: 5px;
}
.guides-section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 70rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}
.guides-section-container > h1 {
  grid-column: 1/-1;
  text-align: center;
  padding: 1em;
  color: rgb(114, 190, 100);
  font-family: "Montserrat", sans-serif;
}
