.clear-box > select {
  padding: 0.5em;
  color: #214a21;
  background: white;
  font-weight: bold;
  border: solid 1px #214a2166;
  border-radius: 5px;
}
.guides-section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 70rem;
  width: max-content;
  margin: auto;
}
.guides-section-container > h1 {
  grid-column: 1/-1;
  text-align: center;
  padding: 1em;
  color: #72be64;
  font-family: "Montserrat", sans-serif;
}
