* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "Mukta", "Liberation Sans", verdana, arial, helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: white;
}

/*========================================================*/
#about-container {
  max-width: 70rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin: 50px auto;
  align-items: center;
  justify-items: center;
}
#about-container > div > h1 {
  color: #72be64;
  line-height: 3rem;
}
#about-container > div > h3 {
  color: #214a21;
}

#about-container > div:nth-child(1) {
  grid-column: 1/-1;
  padding: 1rem;
}
.about-point {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: start;
  height: 100%;
  width: 100%;
}
.about-point > div {
  background: #72be64;
  width: 8rem;
  height: 8rem;
  padding: 2rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.about-point > h5 {
  text-transform: uppercase;
  color: #214a21;
  line-height: 2rem;
}

.about-point > div > img {
  width: 100%;
  height: 100%;
}
/*=====================================*/
#blog-container {
  background: #3c9b61;
  color: white;
  padding: 2rem;
}
#blog-container > h1 {
  text-align: center;
  border-bottom: solid #fff6 1px;
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
}
#blog-container > div {
	display: flex;
	max-width: 85rem;
	margin: auto;
}
#blog-container > a {
	width: 250px;
	display: inherit;
	text-align: center;
	margin: 1em auto;
	font-size: 2em;
	border-radius: 10px;
	background: #fffc;
	color: #214a21;
}
.post-container {
	padding: 1em;
	background: #ffffff1a;
	margin: 0.5em;
	color: #214a21;
}
.post-container > h6{
  line-height: 0.8em;
}
.post-container > p{
  margin: 2.5em 0;
}
.post-container > a:first-of-type{
  color: #214a21;
}
.post-container > a:last-of-type{
	border: solid #fff3 1px;
	padding: 5px;
	border-radius: 5px;
}
.post-container > a:last-of-type:hover{
background: #ffffff1a;
}
/*==================================*/
